# Social Network Ads

This dataset contains information of users in a social network. Those informations are the user id the gender the age and the estimated salary. A car company has just launched their brand new luxury SUV. And we're trying to see which of these users of the social network are going to buy this brand new SUV And the last column here tells If yes or no the user bought this SUV we are going to build a model that is going to predict if a user is going to buy or not the SUV based on two variables which are going to be the age and the estimated salary. So our matrix of feature is only going to be these two columns. We want to find some correlations between the age and the estimated salary of a user and his decision to purchase yes or no the SUV.

## Importing the libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the Dataset

In [2]:
df = pd.read_csv("R:\\GUVI\\Tasks\\Task-7\\Logistic Regression\\Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

## Data Preprocessing

In [4]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [5]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [6]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [7]:
df = df.drop_duplicates()

In [8]:
df = df.drop("User ID",axis=1)

In [9]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
df.Gender = LE.fit_transform(df.Gender)

## Splitting the dataset into training and test set

In [10]:
x = df.loc[:,["Gender","Age", "EstimatedSalary"]].values
y = df.loc[:,"Purchased"].values

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [12]:
x_train

array([[     1,     46, 117000],
       [     0,     50,  44000],
       [     0,     47,  30000],
       [     1,     40,  57000],
       [     0,     58,  95000],
       [     0,     46,  74000],
       [     1,     30, 107000],
       [     0,     29,  47000],
       [     1,     39,  71000],
       [     0,     27,  96000],
       [     0,     26,  43000],
       [     1,     60,  83000],
       [     1,     42,  73000],
       [     1,     42,  64000],
       [     1,     37, 144000],
       [     0,     32,  86000],
       [     0,     26, 118000],
       [     0,     28,  87000],
       [     0,     37,  57000],
       [     0,     52, 138000],
       [     1,     27,  90000],
       [     0,     57, 122000],
       [     1,     60,  34000],
       [     0,     36,  63000],
       [     1,     41,  87000],
       [     0,     48, 131000],
       [     1,     36,  60000],
       [     1,     28,  89000],
       [     0,     60,  46000],
       [     1,     35,  50000],
       [     0,     38,  80000],
       [     1,     27,  20000],
       [     0,     53, 104000],
       [     0,     44,  39000],
       [     0,     48, 138000],
       [     0,     37,  62000],
       [     1,     35,  58000],
       [     1,     31,  76000],
       [     0,     33, 113000],
       [     0,     27,  17000],
       [     0,     20,  82000],
       [     1,     39,  96000],
       [     0,     21,  16000],
       [     0,     35,  23000],
       [     1,     26,  30000],
       [     1,     47,  25000],
       [     0,     27,  31000],
       [     0,     18,  86000],
       [     0,     49,  36000],
       [     0,     26,  84000],
       [     1,     54,  70000],
       [     0,     32, 150000],
       [     1,     35,  75000],
       [     0,     42,  90000],
       [     1,     19,  19000],
       [     1,     31,  18000],
       [     1,     24,  58000],
       [     1,     38,  61000],
       [     0,     39,  75000],
       [     0,     37,  71000],
       [     0,     42,  80000],
       [     1,     41,  45000],
       [     0,     30,  62000],
       [     1,     23,  20000],
       [     1,     49,  88000],
       [     0,     48,  29000],
       [     0,     20,  82000],
       [     1,     39, 122000],
       [     1,     39, 134000],
       [     0,     47,  51000],
       [     0,     31,  68000],
       [     1,     45,  22000],
       [     1,     40,  65000],
       [     1,     21,  88000],
       [     1,     39,  42000],
       [     1,     40,  57000],
       [     0,     35,  50000],
       [     0,     48, 134000],
       [     1,     35,  38000],
       [     1,     55,  39000],
       [     1,     47,  34000],
       [     1,     35,  55000],
       [     1,     27,  88000],
       [     0,     35,  60000],
       [     0,     37,  33000],
       [     0,     36,  54000],
       [     0,     26,  15000],
       [     0,     20,  36000],
       [     0,     37,  78000],
       [     1,     38,  71000],
       [     1,     48,  33000],
       [     0,     23,  28000],
       [     0,     38, 112000],
       [     0,     27,  57000],
       [     1,     35,  73000],
       [     0,     59,  88000],
       [     1,     28,  32000],
       [     0,     23,  48000],
       [     0,     46,  22000],
       [     1,     53,  72000],
       [     0,     42,  75000],
       [     0,     41,  71000],
       [     1,     31,  74000],
       [     1,     40,  78000],
       [     0,     37,  93000],
       [     0,     45,  45000],
       [     1,     36, 118000],
       [     1,     57,  60000],
       [     1,     52, 150000],
       [     0,     36, 126000],
       [     1,     26,  32000],
       [     1,     26,  80000],
       [     1,     28, 123000],
       [     0,     56, 104000],
       [     0,     45, 131000],
       [     0,     46,  96000],
       [     0,     24,  89000],
       [     0,     38,  50000],
       [     0,     50,  88000],
       [     1,     46,  23000],
       [     1,     32, 120000],
       [     1,     59, 143000],
       [     1,     30,  87000],
       [     1,     37,  55000],
       [     1,     35,  72000],
       [     0,     22,  55000],
       [     1,     47,  23000],
       [     1,     30,  80000],
       [     1,     35,  91000],
       [     0,     38, 113000],
       [     0,     43, 133000],
       [     0,     47, 144000],
       [     1,     29,  43000],
       [     0,     27,  58000],
       [     1,     36,  33000],
       [     0,     29,  83000],
       [     0,     42, 108000],
       [     1,     19,  25000],
       [     0,     30,  79000],
       [     1,     38,  71000],
       [     0,     47,  47000],
       [     0,     41,  51000],
       [     1,     35,  61000],
       [     0,     54, 108000],
       [     0,     57,  26000],
       [     0,     27, 137000],
       [     0,     18,  44000],
       [     1,     60,  42000],
       [     0,     22,  27000],
       [     1,     28,  79000],
       [     0,     43, 112000],
       [     1,     48,  90000],
       [     0,     59,  42000],
       [     0,     35,  47000],
       [     0,     33,  41000],
       [     1,     26,  86000],
       [     0,     45,  22000],
       [     0,     27,  54000],
       [     0,     24,  27000],
       [     0,     24,  32000],
       [     0,     32, 117000],
       [     0,     34,  72000],
       [     0,     47, 107000],
       [     0,     59,  83000],
       [     0,     47, 113000],
       [     1,     36, 125000],
       [     1,     25,  80000],
       [     0,     26,  80000],
       [     0,     37,  80000],
       [     0,     40,  72000],
       [     0,     52, 114000],
       [     1,     48,  74000],
       [     0,     59,  29000],
       [     1,     42,  65000],
       [     1,     47,  20000],
       [     1,     46,  28000],
       [     0,     29,  28000],
       [     0,     28,  37000],
       [     0,     42,  53000],
       [     1,     35,  22000],
       [     1,     49,  28000],
       [     1,     33,  31000],
       [     1,     39,  77000],
       [     1,     29,  80000],
       [     1,     24,  19000],
       [     0,     51, 146000],
       [     1,     19,  76000],
       [     1,     18,  52000],
       [     0,     24,  55000],
       [     1,     29, 148000],
       [     1,     42,  80000],
       [     0,     35,  72000],
       [     0,     52,  21000],
       [     1,     36,  99000],
       [     1,     39,  42000],
       [     1,     37,  52000],
       [     0,     32, 135000],
       [     1,     47,  43000],
       [     0,     58,  47000],
       [     1,     40,  57000],
       [     1,     20,  49000],
       [     0,     35,  25000],
       [     0,     48,  35000],
       [     1,     35,  53000],
       [     1,     37,  74000],
       [     0,     51, 134000],
       [     1,     40,  75000],
       [     1,     25,  87000],
       [     1,     37,  75000],
       [     0,     26,  35000],
       [     0,     33, 149000],
       [     1,     47, 105000],
       [     0,     59,  76000],
       [     0,     42,  70000],
       [     0,     28,  59000],
       [     1,     40,  61000],
       [     0,     37, 146000],
       [     1,     29,  75000],
       [     1,     20,  74000],
       [     0,     38,  50000],
       [     1,     35,  59000],
       [     1,     36,  52000],
       [     1,     51,  23000],
       [     1,     46,  79000],
       [     1,     46,  88000],
       [     0,     58,  38000],
       [     0,     41,  72000],
       [     0,     42,  79000],
       [     0,     20,  23000],
       [     1,     30,  17000],
       [     1,     60,  42000],
       [     0,     35,  65000],
       [     1,     20,  86000],
       [     1,     42,  54000],
       [     0,     46,  41000],
       [     0,     48,  96000],
       [     0,     58, 101000],
       [     0,     35,  97000],
       [     0,     21,  68000],
       [     1,     42,  54000],
       [     1,     49,  65000],
       [     0,     47,  50000],
       [     0,     48, 119000],
       [     1,     49,  28000],
       [     1,     42,  65000],
       [     1,     30, 135000],
       [     1,     31,  58000],
       [     1,     33,  43000],
       [     0,     31, 118000],
       [     1,     35, 108000],
       [     0,     34,  25000],
       [     0,     35, 147000],
       [     0,     35,  77000],
       [     1,     58, 144000],
       [     0,     22,  63000],
       [     0,     26,  72000],
       [     0,     35,  44000],
       [     1,     40,  59000],
       [     0,     34,  43000],
       [     0,     35,  57000],
       [     1,     40,  71000],
       [     0,     41,  30000],
       [     0,     58,  23000],
       [     0,     37, 137000],
       [     0,     57,  33000],
       [     1,     21,  72000],
       [     1,     37,  79000],
       [     0,     60, 108000],
       [     1,     19,  70000],
       [     1,     56,  60000],
       [     0,     55, 125000],
       [     0,     52,  90000],
       [     1,     25,  79000],
       [     1,     28,  59000],
       [     1,     48, 141000],
       [     1,     25,  33000],
       [     0,     28,  84000],
       [     0,     30, 116000],
       [     1,     27,  58000],
       [     1,     32,  18000]], dtype=int64)

## Feature Scaling

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

## Hyper-parameter Tuning

In [14]:
for i in [1,2,3,4,5,6,7,8,9,10,20,30,60]:
    from sklearn.neighbors import KNeighborsClassifier
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train, y_train)
    from sklearn.model_selection import cross_val_score
    print("K-Value:",i,"Accuracy:", knn.score(x_test, y_test), "AUROC Score:", np.mean(cross_val_score(knn, x_train, y_train, cv=10)))

K-Value: 1 Accuracy: 0.8916666666666667 AUROC Score: 0.8642857142857142
K-Value: 2 Accuracy: 0.9166666666666666 AUROC Score: 0.8071428571428572
K-Value: 3 Accuracy: 0.9333333333333333 AUROC Score: 0.8678571428571429
K-Value: 4 Accuracy: 0.9583333333333334 AUROC Score: 0.8678571428571429
K-Value: 5 Accuracy: 0.95 AUROC Score: 0.8857142857142858
K-Value: 6 Accuracy: 0.95 AUROC Score: 0.8607142857142858
K-Value: 7 Accuracy: 0.9416666666666667 AUROC Score: 0.8785714285714287
K-Value: 8 Accuracy: 0.95 AUROC Score: 0.875
K-Value: 9 Accuracy: 0.95 AUROC Score: 0.8857142857142858
K-Value: 10 Accuracy: 0.95 AUROC Score: 0.875
K-Value: 20 Accuracy: 0.9416666666666667 AUROC Score: 0.8392857142857142
K-Value: 30 Accuracy: 0.9083333333333333 AUROC Score: 0.7964285714285714
K-Value: 60 Accuracy: 0.8166666666666667 AUROC Score: 0.7642857142857142

## Fitting K-NN to the training set

In [15]:
knn = KNeighborsClassifier(n_neighbors=8)
knn.fit(x_train, y_train)
knn.score(x_test, y_test)

0.95

## Predicting the Test set results

In [16]:
y_pred = knn.predict(x_test)

In [17]:
pd.DataFrame({"act":y_test, "pre":y_pred})

     act  pre
0      0    0
1      0    0
2      1    1
3      0    0
4      1    1
..   ...  ...
115    0    1
116    0    0
117    1    1
118    0    0
119    0    0

[120 rows x 2 columns]

## Making the Confusion Matrix

In [18]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[80,  4],
       [ 2, 34]], dtype=int64)